<!DOCTYPE html>
<html lang="zxx">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Mian Faisal - Personal Portfolio Website</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="img/img-kitzu-logo.png" alt="Logo"></a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog">Work</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg video-variant" id="home" style="background-image:url(img/home.jpg)">
    <div class="player" id="homeVideo" data-property="{videoURL:'https://youtu.be/KR97TgpMyrc',containment:'#home',autoPlay:true, mute:true, showControls:false, stopMovieOnBlur:false, showYTLogo: false}"></div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Mian <span>Faisal</span></h1>
          <h4 class="cd-headline clip home-headline"><span class="cd-words-wrapper single-headline"><b class="is-visible">The Youngest Kaggle Grandmaster of Pakistan</b><b>Data Scientist</b><b>Kaggle Days Lahore Oraganizer/Ambassador</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Languages list-->
      <div class="fixed-block block-left">
        <ul class="list-unstyled languages-list">
          <li><a href="#0"><span class="single-language">ENG</span></a></li>
          <li><a href="#0"><span class="single-language">JAP</span></a></li>
        </ul>
      </div>
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://twitter.com/faisalali0555"><i class="icon ion-logo-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/muhammadfaisalali555/"><i class="icon ion-logo-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/faisalgm"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/faisalali555"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.instagram.com/mianfaisal555/"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Get to know me</p>
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/info-img.jpg" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h2 class="content-subtitle">Who am i?</h2>
                    <h6 class="content-title">I'm Muhammad Faisal Ali</h6>
                    <div class="content-description">
                      <p>I am self-made machine learning engineer and data scientist. I'm passionate about data science, machine learning, and artificial intelligence and have been involved in many projects related to these topics. Currently, I'm exploring new ways to apply AI in the diffrent fields and am excited to see the potential it can bring. I'm looking forward to continuing to learn and grow in this field and to contribute to the advancement of AI technology. I'm also looking forward to explore new opportunities in data science, machine learning, and AI. I'm confident I can make a positive impact in this country.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Faisal Ali</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:emma@example.com">Not Valid</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>18</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>From:</span>
                          <p>Lahore, Pakistan</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" href="#0" role="button">Download CV</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-github"></i></a></li>
                        <li class="list-inline-item"><a href="#0"><i class="icon ion-logo-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>                        
            <!-- Pricing section-->                 
                <!-- Single plan-->
                <div class="col-lg-4">                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my Resume</p>
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Public Speaking</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">OFFICIAL TECH ALUMNI | PUNJAB GROUP OF COLLEGES                      </h5><span class="item-details">Lahore, Pakistan / 2023 - Present</span>
                      <p class="item-description">Spearheaded the role of an official tech alumni and data science speaker, engaging with students and faculty to share knowledge, experiences, and insights in the field of technology and data science.
                        Leading Pakistan's young generation in artificial intelligence and data science at colleges and schools.
                        Mentored students, providing guidance on academic and career paths, sharing industry contacts, and offering support throughout their educational journey.
                        Facilitated the establishment of a dedicated data science club at Punjab College, fostering a community of like-minded individuals and providing a platform for knowledge sharing and collaborative projects.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">OFFCIAL DATA SCIENCE SPEAKER | SUPERIOR UNIVERSITY</h5><span class="item-details">Lahore, Pakistan / 2023 - Present</span>
                      <p class="item-description">Providing engaging presentations on data science topics to Superior University students, faculty, and industry professionals.
                        An average rating of 4.8/5 is consistently received from attendees for presentation content and delivery.
                        Participate in panel discussions and Q&A sessions to address audience inquiries and facilitate discussions on emerging trends in data science.
                        Collaborated with fellow speakers and faculty members of conferences, seminars, and webinars focused on data science education.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">OFFICIAL KAGGLE DAYS SPEAKER | KAGGLE DAYS</h5><span class="item-details">Worldwide / 2023 - Present</span>
                      <p class="item-description">I mentored aspiring data scientists and Kaggle participants, providing personalized guidance and constructive feedback to help them identify problem areas.
                        Engaged with the Kaggle community via blog posts, video tutorials, and social media engagement, providing regular updates, tips, and tricks.
                        Promoted data science education and knowledge exchange within the Kaggle community in Pakistan by collaborating with industry professionals and speakers.
                        I developed a comprehensive roadmap for aspiring Kaggle enthusiasts in Pakistan, outlining the key steps, resources, and best practices required to excel on the Kaggle platform.</p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">SENIOR PYTHON DEVELOPER | DATA SCIENCE EUROPE</h5><span class="item-details">Budapest, Hungary, Eu | Remote / 2022 - Present</span>
                      <p class="item-description">Successfully work remotely as a Python Developer for Data Science Europe, a dynamic startup focused on delivering innovative data-driven solutions.
                        Collaborate with a multidisciplinary team of data scientists and engineers to develop robust and scalable Python-based software solutions.
                        Leverage Python libraries and frameworks such as NumPy, Pandas, and scikit-learn to implement data analysis, machine learning, and predictive modeling tasks.
                        Oversee the efficient use of production project budgets ranging from $2,000 - $25,000.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">THE YOUNGEST KAGGLE GRANDMASTER OF PAKISTAN | KAGGLE</h5><span class="item-details">Kaggle / 2022 - Present</span>
                      <p class="item-description">First and top Grandmaster in Pakistan, currently holding the remarkable global ranking of 12 in datasets.
                        The Youngest Kaggle Grandmaster of Pakistan, officially recognized by Google and Kaggle Days CEO, Maria Parysz.
                        Utilized advanced preprocessing techniques, feature engineering strategies, and innovative machine learning algorithms to perform well at Kaggle competitions.
                        Engaged in continuous learning, staying up-to-date with the latest advances in data science, and attending relevant workshops, conferences, and webinars.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">KAGGLE DAYS LAHORE ORGANIZER | LEADING KAGGLE COMMUNITY IN PAKISTAN</h5><span class="item-details">Kaggle Days / 2023 - Present</span>
                      <p class="item-description">Successfully organized and hosted Kaggle Days Meetups in Lahore, attracted thousands of participants and receiving positive feedback for the quality and diversity of the events.
                        Increased the active Kaggle community members in Lahore through strategic outreach efforts, local partnerships, and community-building initiatives.
                        Mentored hundreds of aspiring data scientists and machine learning enthusiasts, guiding them in their Kaggle journey and assisting in achieving top rankings and awards.
                        Established partnerships with local universities, organizations, and industry leaders to expand the reach and impact of Kaggle events and initiatives in Lahore.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="row">
                <div class="col-12">
                  <div class="section-heading">
                    <p class="section-description">My level of knowledge in some tools</p>
                    <h2 class="section-title">My Skills</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">Machine Learning</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">Computer Vision</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">SQL</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="single-skill" data-percentage="90">
                    <div class="skill-info"><span class="skill-name">Data Science</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="95">
                    <div class="skill-info"><span class="skill-name">Python</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="single-skill" data-percentage="80">
                    <div class="skill-info"><span class="skill-name">Web Development</span><span class="skill-percentage"></span></div>
                    <div class="progress skill-progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Video section-->
            <div class="video-section single-section">
              <div class="row align-items-center">                                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Showcasing some of my best work</p>
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
                <!-- Filter nav-->
                <div class="col-12">                
                </div>
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="img/item-1.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-1.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Kaggle Grandmaster</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-2.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-2.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Global Rank #12</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="img/item-3.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-3.jpg">
                      <div class="item-content">
                        <h6 class="content-title">27 Gold Medals</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="img/item-4.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-4.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Tech Alumni of Punjab College</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="img/item-5.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-5.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Kaggle Days Organizer/Ambassador</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-6.jpg" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-6.jpg">
                      <div class="item-content">
                        <h6 class="content-title">Data Science Speaker at Superior University</h6><span class="content-more">More Info</span>
                      </div>
                    </div>
                  </a></div>
                  <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-7.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-7.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Data Science Speaker at Superior University</h6><span class="content-more">More Info</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-8.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-8.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Data Science Speaker at Superior University</h6><span class="content-more">More Info</span>
                    </div>
                  </div>
                </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="img/item-9.jpg" data-lightbox>
                  <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/item-9.jpg">
                    <div class="item-content">
                      <h6 class="content-title">Data Science Speaker at Superior University</h6><span class="content-more">More Info</span>
                    </div>
                  </div>
                </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog lightbox-->
  <div class="lightbox-wrapper" id="blog" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Check out my latest Works</p>
                  <h2 class="section-title">My Work</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Blog section-->
            <div class="blog-section single-section">
              <div class="row justify-content-center">
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-1.jpg" alt="Blog post"><span class="content-date">11 Dec, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Notebook</h5>
                      </a>
                      <p class="card-text content-description">🔥 EDA - Top 50 Animation Movies ⭐</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-2.jpg" alt="Blog post"><span class="content-date">12 Aug, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Notebook</h5>
                      </a>
                      <p class="card-text content-description">🔥 EDA - Super Market Sales 🛒 | Data Analysis⭐</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">4 Feb, 20</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Notebook</h5>
                      </a>
                      <p class="card-text content-description">🔥 Introduction to SQL and BIG QUERY</p>
                    </div>
                  </div>
                </div><!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-4.jpg" alt="Blog post"><span class="content-date">11 Dec, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Dataset</h5>
                      </a>
                      <p class="card-text content-description">Top 500 Indian Cities Dataset</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-5.jpg" alt="Blog post"><span class="content-date">15 Nov, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Dataset</h5>
                      </a>
                      <p class="card-text content-description">Daily Gold Price Historical Dataset</p>
                    </div>
                  </div>
                </div>
                <!-- Single post-->
                <div class="col-12 col-sm-8 col-lg-4">
                  <div class="card single-post"><a class="post-img" href="#0"><img class="card-img-top" src="img/post-6.jpg" alt="Blog post"><span class="content-date">8 Aug, 19</span></a>
                    <div class="card-body post-content"><a href="#0">
                        <h5 class="card-title content-title">Kaggle Dataset</h5>
                      </a>
                      <p class="card-text content-description">Most Played Games of All Time Dataset</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <p class="section-description">Feel free to contact me anytimes</p>
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="https://kaleidoscopic-pie-2341a3.netlify.app/template/php/contact.php">
                    <h4 class="content-title">Message Me</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description">Always available for freelance work if the right project comes along, Feel free to contact me!</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Muhammad Faisal</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Bahria Town, Lahore, Pakistan.</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Phone Number</h6><span class="info-value"><a href="tel:+441632967704">Soon available</a></span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Business Email</h6><span class="info-value"><a href="mailto:emma@example.com">Soon available</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->
  <div class="demo-tool">
    <div class="tool-wrapper">
      <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
      <div class="tool-box">
        <ul class="list-inline single-block color-switcher">
          <li class="list-inline-item" style="background-color: #2c31ff;" data-path="css/colors/main-blueviolet.css"></li>
          <li class="list-inline-item" style="background-color: #3460D1;" data-path="css/colors/main-nightskyblue.css"></li>
          <li class="list-inline-item" style="background-color: #EE3158;" data-path="css/colors/main-redpink.css"></li>
          <li class="list-inline-item" style="background-color: #007bff;" data-path="css/colors/main-blue.css"></li>
          <li class="list-inline-item" style="background-color: #17a2b8;" data-path="css/colors/main-cyan.css"></li>
          <li class="list-inline-item" style="background-color: #3365b0;" data-path="css/colors/main-darkblue.css"></li>
          <li class="list-inline-item" style="background-color: #a435b7;" data-path="css/colors/main-darkmagenta.css"></li>
          <li class="list-inline-item" style="background-color: #c93e70;" data-path="css/colors/main-darkpink.css"></li>
          <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="css/colors/main-darkred.css"></li>
          <li class="list-inline-item" style="background-color: #28a745;" data-path="css/colors/main-green.css"></li>
          <li class="list-inline-item" style="background-color: #6610f2;" data-path="css/colors/main-indigo.css"></li>
          <li class="list-inline-item" style="background-color: #fd7e14;" data-path="css/colors/main-orange.css"></li>
          <li class="list-inline-item" style="background-color: #e83e8c;" data-path="css/colors/main-pink.css"></li>
          <li class="list-inline-item" style="background-color: #6f42c1;" data-path="css/colors/main-purple.css"></li>
          <li class="list-inline-item" style="background-color: #dc3545;" data-path="css/colors/main-red.css"></li>
          <li class="list-inline-item" style="background-color: #20c997;" data-path="css/colors/main-teal.css"></li>
          <li class="list-inline-item" style="background-color: #333;" data-path="css/colors/main-dark.css"></li>
          <li class="list-inline-item" style="background-color: #78b230;" data-path="css/colors/main-yellowgreen.css"></li>
          <li class="list-inline-item" style="background-color: #E16F7C;" data-path="css/colors/main-tangopink.css"></li>
          <li class="list-inline-item" style="background-color: #6F73D2;" data-path="css/colors/main-moodyblue.css"></li>
          <li class="list-inline-item" style="background-color: #664C43;" data-path="css/colors/main-brown.css"></li>
          <li class="list-inline-item" style="background-color: #4770D9;" data-path="css/colors/main-royalblue.css"></li>
          <li class="list-inline-item" style="background-color: #ffb100;" data-path="css/colors/main-darkyellow.css"></li>
        </ul>
        <div class="single-block buy-btn mb-0">
          <a class="btn btn-success btn-sm" target="_blank" href="https://themeforest.net/item/kitzu-personal-portfolio-template/26075107" role="button">Buy Kitzu</a>
        </div>
      </div>
    </div>
  </div>
  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>
</html>